cover
cover.out
coverage.txt
.vscode
.devcontainer
report.xml
testlogs.txt
bin
config
default.etcd
devops
cover-existing.html
coverage-existing.txt
report-existing.xml
testlogs-existing.txt
v2
!v2/boilerplate.go.txt
.git
# See https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Put files here that you don't want copied into your bundle's invocation image
.gitignore
Dockerfile.tmpl